{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
  <ul class="nav nav-tabs justify-content-center" id="challenge_tabs" role="tablist">
    {% for id, challenge in challenges %}
      <li class="nav-item">
        <a class="nav-link" id="{{ id }}-tab" data-toggle="tab" href="#{{ id }}_tab_content" role="tab"
           aria-controls="{{ id }}" aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ challenge.name | capitalize }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for id, challenge in challenges %}
      <div class="tab-pane" id="{{ id }}_tab_content" role="tabpanel" aria-labelledby="{{ id }}-tab">
        {% include 'CodingTrainChallenges/generic_challenge_board.panel.html.twig' with challenge %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
